
<ion-list>
  <ion-item class="item-remove-animate item-avatar item-icon-right" ng-repeat="team in teams" type="item-text-wrap" ui-sref="tab.team-detail({teamId: team.id})">
    <team-avatar class="team-item-avatar" team="team"></team-avatar>
    <h2>{{team.name}}</h2>
    <p><img ng-src="{{team.captain.pic}}"><span class="captain">Cap. <span class="username">{{get_name(team.captain)}}</span></span></p>
    <i class="icon ion-chevron-right icon-accessory"></i>

    <ion-option-button class="button-assertive" ng-click="leave(team, true)">
      Dejar
    </ion-option-button>
  </ion-item>
</ion-list>
