<ion-view view-title="{{team.name}}">
  
  <ion-content>
    <ion-refresher
      pulling-text=""
      on-refresh="getTeams()">
    </ion-refresher>
    <div class="row team-detail">
      <div class="col col-33 left">
        <team-avatar team="team"></team-avatar>
      </div>
      <div class="col col-67 right">
        <h2 class="captain"><img ng-src="{{team.captain.pic}}">Cap. <span class="username">{{get_name(team.captain)}}</span></h2>
        <button class="sign-players-btn button" ui-sref="tab.market({teamId:team.id})" ng-if="userBelongsTeam()">
        FICHAR JUGADORES
        </button>
        <button class="sign-players-btn button" ng-click="enroll()" ng-if="!userBelongsTeam() && !isPendingMe() && !isPendingCaptain()">
        UNIRME
        </button>
        <h3 ng-if="isPendingCaptain()">Has solicitado entrar</h3>
        <h3 ng-if="isPendingMe()">Te quiere fichar
          <button class="sign-players-accept-btn button" ng-click="enroll()" ng-if="isPendingMe()">
          ACEPTAR
          </button>
        </h3>
      </div>
    </div>
    <div class="tabs teams-tabs">
      <a ng-if="prev_leaderboard.length" class="tab-item" ng-class="{'active':isPrevActive()}" ui-sref="tab.team-detail.prev({teamId:team.id})">
        Jornada anterior
      </a>
      <a class="tab-item" ng-class="{'active':isCurrentActive()}" ui-sref="tab.team-detail.current({teamId:team.id})">
        Jornada actual
      </a>
    </div>

    <ui-view name="team-detail"></ui-view>

  </ion-content>
</ion-view>
